<html>
<head>
<title></title>
</head>
<body>
        <h5>
                welcome <%=username%>
            </h5>
            <ul>
       <li> <a href="/auth/logout">logout</a></li>
       <li> <a href="/products/orderpage">menu</a></li>
       <li> <a href="/products/add">add products</a></li>
       <li> <a href="/products/list">list products</a></li>
       <li> <a href="/users/add">add user </a></li>
       <li> <a href="/users/list">list users</a></li>
       <li> <a href="/orders/add">add order </a></li>
       <li> <a href="/orders/list">list orders</a></li>


</ul>