<%include ../layout/header.ejs%>

  <form method="post" action="#" enctype="multipart/form-data">
   
   name : <input type="text" name="name"></br>
    email: <input type ="text" name="email" ><br/>
    pass: <input type ="password" name="password" ><br/>
    room no:<input type ="text" name="RoomNo" ><br/>
    ext: <input type ="text" name="EXT" ><br/>
    img : <input type="file"name ='avatar'></br>

  

    <input type="submit" value="save">
   </form>
   <%include ../layout/footer.ejs%>
